configuration {
    show-icons: true;
}

* {
    font: "JetBrainsMono Nerd Font 10";
    background-color: transparent;
    text-color: #e8e0e8;
}

window {
    width: 70%;
    height: 65%;
    transparency: "real";
    border-radius: 16px;
    border: 2px solid;
    border-color: #dabafa;
    background-color: #151218F2;
    padding: 24px;
}

mainbox {
    children: [ inputbar, listview ];
    spacing: 16px;
}

inputbar {
    children: [ prompt, entry ];
    background-color: #221e24;
    border-radius: 12px;
    padding: 12px 16px;
}

prompt {
    text-color: #dabafa;
    margin: 0px 8px 0px 0px;
}

entry {
    placeholder: "Buscar wallpaper...";
    placeholder-color: #958e98;
    text-color: #e8e0e8;
}

listview {
    columns: 3;
    lines: 3;
    spacing: 14px;
    layout: vertical;
    cycle: true;
}

element {
    orientation: vertical;
    padding: 12px;
    border-radius: 12px;
    spacing: 8px;
    cursor: pointer;
}

element selected {
    background-color: #553b71;
    border: 1px solid;
    border-color: #dabafa;
}

element-icon {
    size: 115px;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
    text-color: #e8e0e8;
}

element-text selected {
    text-color: #efdbff;
    font: "JetBrainsMono Nerd Font Bold 10";
}
