@define-color m3_primary #cdca75;
@define-color m3_on_primary #333200;
@define-color m3_primary_container #4a4900;
@define-color m3_surface #14140c;
@define-color m3_on_surface #e6e2d5;
@define-color m3_outline #939181;

* {
    font-family: 'JetBrainsMono Nerd Font', 'Noto Sans', sans-serif;
}

.control-center {
    background: alpha(@m3_surface, 0.88);
    border-radius: 16px;
    border: 2px solid @m3_primary_container;
    padding: 14px;
}

.notification {
    background: @m3_surface;
    border-radius: 12px;
    border: 1px solid @m3_outline;
    padding: 10px;
}

.notification-default-action {
    color: @m3_on_surface;
}

.summary {
    color: @m3_primary;
    font-weight: bold;
}

.body {
    color: @m3_on_surface;
}
